.App {
  text-align: left;
  font-family: arial;
  align-items: center;
}
.details {
  color: #282c34;
}
.card {
  border: solid #f2f2f2 1px;  
  display: inline-grid;
  margin: 10px;
  width: 500px;

}
.showdetails {
  /* border-radius: 8px; */
  margin: 0;
  height: 30px;
  font-size: 11pt;
  background-color: white;
}
h1 {
  background-color: #282c34;
  color: white;
  padding: 0;
  margin: 0;
  font-weight: normal;
  letter-spacing: -4px;
  display: inline;
  text-decoration: none;
}
img {
  width: 500px;
  height: 300px;
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  /* display: flex;
  flex-direction: column; */
  /* align-items: left;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
  height: 130px;
}
.delete {
  background-color: #ff6666;
  /* border-radius: 8px; */
  height: 30px;
  width: 250px;
  border: none;
  display: inline-block;
  color: white;
}
.button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}
.reviews {
  /* border: 2px black solid; */
  border:none;
  color: white;
  text-decoration: none;
  text-align: center;
  /* border-radius: 8px; */
  height: 30px;
  width: 250px;
  font-size: 11pt;
  display: inline-block;
  background-color:#282c34;
}
.banner {
  border-radius: 12px;
  width: 70%;
  height: 600px;
  opacity: 0.8;
}
.login {
  padding: 30px;
}
input {
  height: 30px;
  width: 400px;
}
textarea {
  width: 400px;
  height: 300px;
}
.homebutton {
  border: 2px black solid;
  color: white;
  text-decoration: none;
  text-align: center;
  border-radius: 8px;
  height: 40px;
  width: 400px;
  font-size: 11pt;
  margin-left: 50px;
  background-color: #4caf50;
}
.flex {
  display: flex;
  flex-direction: row;
}
a {
  text-decoration: none;
  color: white;
}
.homepage {
  align-items: center;
  justify-content: center;
}
.commentpage{
  padding: 20px;
}
.comment {
  padding-left: 20px;
}